*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #141414;
    
}

.conainerS{
    position: relative;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 50px bisque ;
    border-radius: 20px;
    padding: 40px;
}

.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

h2 {
    font-size: 30px;
    color: bisque;
    text-align: center;
}

.username-container{
    position: relative;
    margin: 30px 0 ;
    border-bottom: 2px solid  bisque;
}

.password-container{
    position: relative;
    margin: 30px 0 ;
    border-bottom: 2px solid  bisque;
}



.username-container label{
position: absolute;
top: 7px;
left: 40px;
transform: translate(-50%);
font-size: 16px;
color: bisque;
pointer-events: none;
}

.password-container label.pass{
position: absolute;
top: 7px;
left: 40px;
transform: translate(-50%);
font-size: 16px;
color: bisque;
pointer-events: none;


}

.username-container input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: bisque;
     padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;

}

 .password-container input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: bisque;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;

 }

.username-container input:focus~label,
.username-container input:valid~label{
    top: -15px;
}

.password-container input:focus~label,
.password-container input:valid~label{
    top: -15px;
}

 .remember{
    margin: -10px 0 15px 5px;
 }

 .remember label{
    color: bisque;
    font-size: 14px;
 }

 .remember label input{
    accent-color:  rgb(140, 74, 74);
 }

 button{
    position: relative;
    width: 100%;
    height: 40px;
    /* background:  #ca3c3cb9; */
    background:  rgb(140, 74, 74);
    box-shadow: 0 0 10px  rgba(99, 41, 41, 0.726);
    font-size: 16px;
   color: bisque;
   font-weight: 500;
   cursor: pointer;
   border-radius: 30px;
   border: none;
   outline: none;
 }

 .signUp-link{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
 }

 .signUp-link p{
    color: bisque;
 }

  .signUp-link p a{
    text-decoration: none;
    color: rgb(140, 74, 74);
    font-weight: 500;
  }

    .signUp-link p a:hover{
        text-decoration: underline;
    }


  .username-container label.e{
    left: 22px;
  }